<tr>
  <th scope="row"><%= book_counter + 1 %></th>
  <td><%= link_to book.name, [:admin, book] %></td>
  <td>
    <% book.images.each do |image| %>
      <%= image_tag image, class: "img-fluid img-table" %>
    <% end %>
  </td>
  <td><%= book.category_name %></td>
  <td><%= book.quantity %></td>
  <td><%= price_format book.price %></td>
  <td><%= book.publisher_name %></td>
  <td><%= book.authors.pluck(:name).join(" ,") %></td>
  <td>
    <%= link_to edit_admin_book_path(book) do %>
      <label class="btn btn-warning">
        <i class="fas fa-edit"></i>
      </label>
    <% end %>
    <%= link_to [:admin, book], method: :delete,
      data: { confirm: t("sure") } do %>
      <label class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </label>
    <% end %>
  </td>
</tr>
