<tr>
  <td><%= order.customer_name %></td>
  <td><%= order.delivery_address %></td>
  <td><%= order.delivery_phone %></td>
  <td>
    <% order.order_details.each do |od| %>
      <div>
        <%= link_to od.book.name, book_path(od.book.id) %> x
        <%= od.quantity %>
      </div>
    <% end %>
  </td>
  <td>
    <span class="badges badge-<%= order.status %>">
      <%= t(""<< order.status) %>
    </span>
  </td>
  <td>
    <% if order.status_pending? %>
      <%= link_to admin_order_path(id: order.id, status: Settings.status_accepted),
        method: :patch, remote: true do %>
        <label class="btn btn-success">
          <i class="fa fa-check"></i>
        </label>
      <% end %>
      <%= link_to admin_order_path(id: order.id, status: Settings.status_rejected),
        data: {confirm: t("reject_confirm")}, method: :delete, remote: true do %>
        <label class="btn btn-warning">
          <i class="fa fa-times"></i>
        </label>
      <% end %>
    <% elsif order.status_accepted? %>
      <%= link_to admin_order_path(id: order.id, status: Settings.status_shipped),
        method: :patch, remote: true do %>
        <label class="btn btn-primary">
        <i class="fas fa-shipping-fast"></i>
      </label>
    <% end %>
    <% end %>
  </td>
</tr>
