<div class="container-fluid px-4">
  <h3 class="mt-4"><%= t "order_list" %></h3>
  <div>
    <%= render "form_search" %>
    <%= form_tag admin_orders_path, method: :get, class: "form-inline pull-right" do %>
      <%= hidden_field_tag :status_change,  Settings.status_accepted %>
      <%= submit_tag t("accept_all_new"), data: {confirm: t("accept_all_new")},
        class: "btn btn-orange" %>
    <% end %>
  </div>
  <hr class="sidebar-divider">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t "index" %></th>
        <th scope="col"><%= t "receiver_information" %></th>
        <th scope="col"><%= t "product" %></th>
        <th scope="col"><%= t "total_price" %></th>
        <th scope="col"><%= t("create_date") %></th>
        <th scope="col"><%= t "status" %></th>
        <th scope="col"><%= t "option" %></th>
      </tr>
    </thead>
    <tbody>
      <div class="admin-orders-list">
        <%= render @orders %>
      </div>
    </tbody>
  </table>
   <%== pagy_bootstrap_nav(@pagy) %>
</div>
