<tr>
  <th scope="row"><%= order.id %></th>
  <td class="font-weight-semibold align-middle">
    <div class="col pl-0">
      <div>
        <%= t "name" %>:
        <%= order.customer_name %>
      </div>
      <div>
        <%= t "phone" %>:
        <%= order.delivery_phone %>
      </div>
      <div>
        <%= t "address" %>:
        <%= order.delivery_address %>
      </div>
    </div>
  </td>
  <td>
    <% order.order_details.each do |od| %>
      <div>
        <%= link_to od.book.name, book_path(od.book.id) %> x
        <%= od.quantity %>
      </div>
    <% end %>
  </td>
  <td><%= order.created_at %></td>
  <td><%= order.order_price %></td>
  <td>
    <span class="badges badge-<%= order.status %>">
      <%= t(""<< order.status) %>
    </span>
  </td>
  <td>
    <% if order.status_pending? || order.status_accepted? %>
      <%= link_to order_path(order.id) do %>
        <label class="btn btn-warning">
          <i class="fa fa-eye"></i>
        </label>
      <% end %>
      <%= link_to order_path(id: order.id), data: {confirm: t("cancel_confirm")}, method: :delete, remote: true do %>
        <label class="btn btn-danger">
          <i class="fa fa-times"></i>
        </label>
      <% end %>
    <% else %>
      <%= link_to order_path(order.id) do %>
        <label class="btn btn-warning">
          <i class="fa fa-eye"></i>
        </label>
      <% end %>
      <%= link_to books_path do %>
        <label class="btn btn-info">
          <i class="fa fa-undo"></i>
        </label>
      <% end %>
    <% end %>
  </td>
</tr>
